* {
  --done: rgb(119, 190, 119);
  --rejected: rgb(247, 114, 114);
  --progress: rgb(248, 188, 76);
  --inactive: rgb(175, 175, 175);

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(250, 246, 246);
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 208, 208); 
  width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 163, 163); 
}
