* {
  --done: rgb(119, 190, 119);
  --rejected: rgb(247, 114, 114);
  --progress: rgb(248, 188, 76);
  --inactive: rgb(175, 175, 175);

  /*  PASSWORD VALIDATOR COLORS */
  --pv-green: #78BA72;
  --pv-red:#FF7E7E;
  --pv-yellow: #FFE17E;

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(250, 246, 246);
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: white;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  margin-left: 4px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
  width: 4px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 208, 208); 
  width: 4px;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2196f3; 
  border-radius: 2px;
}
